@import 'tailwindcss';
body {
  margin: 0;
}

@font-face {
    font-family: 'KerisKedyuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_R.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'KerisKedyuche';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2601-3@1.0/KERISKEDU_B.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

.logo_text {
    font-family: 'KerisKedyuche', sans-serif;
    font-weight: 600;
}

body {
    font-family: 'Pretendard',sans-serif;
    font-weight: 500;
}

.tag_on {
    @apply  h-10 bg-gray-200 border border-gray-400 border-b-0 rounded-t-xl text-[18px] text-center px-3 pt-1 cursor-pointer
}

.tag_out {
    @apply  h-10 bg-gray-200 border border-gray-400 rounded-t-xl px-3 pt-1 text-[18px] cursor-pointer
}